# Environment files
environment*

_site

vendor
# Projects
projects/
!projects/index.html

# Jekyll build process
.jekyll-cache
.jekyll-metadata
.sass-cache

# Other files
.DS_Store
.ruby-version
.tweet-cache